parameters:
	ignoreErrors:
		-
			message: '#^Method FileEye\\MimeMap\\Map\\BaseMap\:\:getMapSubEntry\(\) should return list\<string\> but returns array\<int, string\>\.$#'
			identifier: return.type
			count: 1
			path: src/Map/BaseMap.php

		-
			message: '#^Method FileEye\\MimeMap\\Map\\BaseMap\:\:listEntries\(\) should return list\<int\|string\> but returns array\<int\<0, max\>, int\|string\>\.$#'
			identifier: return.type
			count: 1
			path: src/Map/BaseMap.php
