<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
        >
    <testsuites>
        <testsuite name="FileEye Testing Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <!-- Filter for coverage reports. -->
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <exclude>
              <directory suffix=".php">./src/Command/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
