name: PHPUnit Tests

on:
  push:
    branches: [ master ]
  schedule:
    - cron: "0 6 * * 3"
  pull_request:
    branches: [ master ]

jobs:
  phpunit:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.3"
          - "7.4"
          - "8.0"
          - "8.1"

    steps:

        - uses: actions/checkout@v2

        - name: Install PHP
          uses: "shivammathur/setup-php@v2"
          with:
            php-version: "${{ matrix.php-version }}"
            coverage: "pcov"
            ini-values: "zend.assertions=1"

        - name: Install Composer dependencies
          run: composer install --no-progress --ansi

        - name: Run tests
          run: ./vendor/bin/phpunit --color=always --coverage-clover=coverage.xml

        - name: Send code coverage report to Codecov.io
          uses: codecov/codecov-action@v2
          with:
            files: coverage.xml
            
        - name: Mapping test
          if: ${{ matrix.php-version == 7.4 }}
          continue-on-error: true
          run: |
            php ./bin/fileeye-mimemap --version
            php ./bin/fileeye-mimemap update --diff --fail-on-diff --ansi
